#editor
	overflow-y auto
	overflow-x hidden
	// max-height 300px
	min-height 600px
	height auto !important
	position relative
	img
		position absolute
		cursor move
		border 1px solid transparent
		&:hover
			border 1px dashed #999
	img.active
		opacity 0.8
		border 1px dashed #999
#editor.in-preview-mode
	border-color transparent
	img
		pointer-events none
		opacity 1
		border none
.btn-toolbar
	.btn-group
		margin-bottom 10px
#linkModal
	.input-group
		float none
#drawing-panel
	height 300px
	width 550px
.preview
	.fa-eye-slash
		display none
.preview.active
	.fa-eye-slash
		display inline-block
	.fa-eye
		display none

