#editor
	overflow-y auto
	overflow-x hidden
	// max-height 300px
	min-height 600px
	height auto !important
	position relative
	img
		position absolute
		cursor move
		border 1px solid transparent
		&:hover
			border 1px dashed #999
	img.active
		opacity 0.8
		border 1px dashed #999
.picture_control
	display none
.btn-toolbar
	.btn-group
		margin-bottom 10px

#drawing-panel
	height 300px
	width 500px
