#editor
	overflow-y auto
	overflow-x hidden
	// max-height 300px
	min-height 600px
	height auto !important
	position relative
	img
		position absolute
	img.active
		opacity 0.6
.picture_control
	display none
.btn-toolbar
	.btn-group
		margin-bottom 10px
.action
	padding-bottom 20px
	.btn
		margin-right 10px
