@import './mixin'
@import './layout'
@import './editor'

@font-face
	font-family DancingScript
	font-style normal
	src url('./fonts/DancingScript.woff')

@font-face
	font-family Amienne
	src url('./fonts/Amienne/Amienne.eot')
	src url('./fonts/Amienne/Amienne.eot?#iefix') format('embedded-opentype'), url('./fonts/Amienne/Amienne.woff') format('woff'), url('./fonts/Amienne/Amienne.ttf') format('truetype'), url('./fonts/Amienne/Amienne.svg') format('svg')
	font-weight normal
	font-style normal

@font-face
	font-family Pacifico
	font-style normal
	src url('./fonts/Pacifico.woff')

@font-face
	font-family Franklin
	font-style normal
	src url('./fonts/franklin.woff') format('woff'),url('./fonts/franklin.ttf') format('truetype'),url("./fonts/franklin.svg") format('svg')

.dancer
	font-family DancingScript
.amienne
	font-family Amienne
.pacifico
	font-family Pacifico
.franklin
	font-family Franklin

span.text
	padding 0 5px
