nav_height = 48px
nav_color = #a375d5

@-webkit-keyframes breath
	50%
		opacity 0.5
		-webkit-filter blur(3px)
body
	position relative
input[type='range']
	-webkit-box-shadow none
	&:focus
		-webkit-box-shadow none
[draggable]
	draggable()
#flash_message
	position fixed
	top 0
	left 0
	width 100%
	z-index 1200
	.flash
		border-radius 0
		margin-bottom 0
.hidden_uploader
	width 0
	height 0
	position absolute
	top 0
	left 0
	overflow hidden
.inav
	.container
		position relative
		.doc-list-menu
			position absolute
			top 0
			line-height 50px
			font-size 2em
			cursor pointer
			padding 0 10px
			border-left 1px solid transparent
			border-right 1px solid transparent
		.doc-list-menu.active,.doc-list-menu:hover
			background #fff
			border-color #e7e7e7
		.brand
			top 0
			font-size 2.2em
			position absolute
			line-height 50px
			left 50%
			margin-left -50px
		.brand.loading
			-webkit-animation breath 1.5s infinite ease-in-out

article
	margin-top nav_height
	position relative
	padding 20px 10px

