nav_height = 48px
nav_color = #a375d5

@-webkit-keyframes breath
	50%
		opacity 0.5
		-webkit-filter blur(3px)
body
	position relative
input[type='range']
	-webkit-box-shadow none
	&:focus
		-webkit-box-shadow none
[draggable]
	draggable()
#flash_message
	position fixed
	top 0
	left 0
	width 100%
	z-index 1200
	.flash
		border-radius 0
		margin-bottom 0
.hidden_uploader
	width 0
	height 0
	position absolute
	top 0
	left 0
	overflow hidden
.inav
	text-shadow-white(nav_color)
	.container
		position relative
		.nav
			li
				a
					color #eee
					background transparent
					font-size 1.2em
					&:hover
						color white
					span.desc
						margin-left 8px

			li.active
				a
					color white
				@media (min-width: 768px)
					a
						background #00864e
				@media (max-width: 767px)
					a
						border-left 3px solid #f5f5f5
			.dropdown-menu
				min-width 0
				border-top none
				text-shadow-white(nav_color)

		#member
			padding 5px
			img
				width 40px
				height 40px
				padding 3px
				background #f5f5f5
		.brand
			top 0
			font-size 2.2em
			position absolute
			// text-shine()
			left 50%
			margin-left -1em
		.brand.loading
			text-shine()
			-webkit-animation breath 1.5s infinite ease-in-out
.stack > *:not(.active)
	display none
.navbar-toggle
	font-size 1.5em
	text-shadow-inset()
article
	margin-top nav_height
	position relative
	padding 20px 10px

