#doc-list
	margin-top 50px
	padding-top 20px
	border-bottom 1px solid #e7e7e7
	display none
	.item
		position relative
		.panel
			cursor pointer
			.panel-body
				overflow hidden
				font-size 1.5em
				color #333
				text-overflow ellipsis
				white-space nowrap
			.panel-footer
				.btn
					display none
		.panel:hover
			box-shadow 0 5px 10px rgba(0, 0, 0, 0.2)
			.panel-footer
				.btn
					display inline-block

