a.drawing-board-control-navigation-back.btn.btn-default(title= "Undo")
	i.fa.fa-arrow-left
a.drawing-board-control-navigation-forward.btn.btn-default(title= "Redo")
	i.fa.fa-arrow-right
a.drawing-board-control-navigation-reset.btn.btn-default(title= "Clean")
	i.fa.fa-times
