doctype html
html(lang="en")
	head
		include _includes/header
		include _includes/trace.html
	body
		header.navbar.navbar-fixed-top.inav.navbar-default
			.container
				.action-menu-left
					span.doc-list-menu.menu-btn
						i.fa.fa-inbox
				.brand.franklin 17Editor
				.action-menu-right
					span.menu-btn.save-doc(title="保存")
						i.fa.fa-cloud-upload
					span.menu-btn.new-doc(title="新建")
						i.fa.fa-file-o
		aside#doc-list.hide
			.container
		article
			include _includes/editor
		footer
			include _includes/footer
		#flash_message
