doctype html
html(lang="en")
	head
		include _includes/header
	body
		header.navbar.navbar-fixed-top.inav.navbar-default
			.container
				span.doc-list-menu.menu-btn
					i.fa.fa-inbox
				.brand.franklin 17Editor
				.action-menu
					span.menu-btn.save-doc(title="保存")
						i.fa.fa-cloud-upload
					span.menu-btn.new-doc(title="新建")
						i.fa.fa-edit
		aside#doc-list
			.container
		article
			include _includes/editor
		#flash_message
